<div class="branch-selector">

    <!-- selected -->
    <div class="selected" (click)="toggle()">

        @if (selected$ | async; as branch) {
        {{ getItemName(branch) }}
        } @else {
        Select Branch
        }

        ▼
    </div>

    <!-- dropdown -->
    @if (isOpen) {

    <div class="dropdown">

        @if (branches$ | async; as branches) {

        @for (b of branches; track b.id) {

        <div class="item" (click)="select(b)">
            <div class="name">{{ getItemName(b) }}</div>
            <div class="phone">{{ b.phone }}</div>
        </div>

        }

        }

    </div>

    }

</div>