.branch-selector {
    position: relative;
}

.selected {
        white-space: nowrap;
    background: #fff;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
}

.dropdown {
    position: absolute;
    top: 40px;
    left: 0;

    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;

    width: 220px;
    z-index: 1000;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
}

.item:hover {
    background: #f8f8f8;
}

.name {
    font-weight: 600;
}

.phone {
    font-size: 12px;
    color: #777;
}