<div class="stock-card avail-card" *ngIf="stocks.length > 0">

  <div class="card-title avail-title">
    {{ 'CHEF.STOCK.AVAILABLE.TITLE' | translate }}
  </div>

  <div class="item-list">
    <div class="stock-item" *ngFor="let item of stocks">

      <div class="item-top">
        <span class="item-name">{{ getIngredientName(item) }}</span>
        <span class="item-qty avail-qty">
          {{ item.quantityAvailable }} {{ item.unit }}
        </span>
      </div>

      <div class="bar-track">
        <div
          class="bar-fill"
          [style.width.%]="getBarPercent(item)"
          [style.background]="getBarColor(item)">
        </div>
      </div>

      <div class="item-hint">
        {{ item.quantityAvailable }}
        {{ item.unit }}
        {{ 'CHEF.STOCK.AVAILABLE.REMAINING' | translate }}
      </div>

    </div>
  </div>

</div>