<div class="filters">

  <!-- Roles -->
  <div class="roles">
    @for (role of roles; track role) {
      <button
        (click)="selectRole(role)"
        [class.active]="role === selectedRole"
      >
        {{ role }}
      </button>
    }
  </div>

  <!-- Branches -->
  <div class="branches">
    <select [(ngModel)]="selectedBranchId" (ngModelChange)="selectBranch($event)">
      <option [ngValue]="null">{{ 'ADMIN.USERS.ALL_BRANCHES' | translate }}</option>
      @for (branch of branches; track branch.id) {
        <option [ngValue]="branch.id">{{ getItemName(branch) }}</option>
      }
    </select>
  </div>

  <!-- Status -->
  <div class="status">
    <button
      (click)="selectStatus(true)"
      [class.active]="isActive"
    >
      {{ 'ADMIN.USERS.ACTIVE' | translate }}
    </button>

    <button
      (click)="selectStatus(false)"
      [class.active]="!isActive"
    >
      {{ 'ADMIN.USERS.IN_ACTIVE' | translate }}
    </button>
  </div>

</div>
