<div class="summary">

  <h3>{{ 'WAITER.PLACEORDER.SUMMARY.TITLE' | translate }}</h3>

  <div *ngIf="items.length === 0" class="empty">
    <p>{{ 'WAITER.PLACEORDER.SUMMARY.EMPTY' | translate }}</p>
  </div>

  <div class="item" *ngFor="let i of items">

    <!-- IMAGE -->
    <img [src]="i.imageUrl" class="item-img" />

    <!-- INFO -->
    <div class="info">
      <h4>{{ getItemName(i) }}</h4>

      <div class="meta">
        <span>
          {{ 'WAITER.PLACEORDER.SUMMARY.QTY' | translate:{ qty: i.quantity } }}
        </span>

        <span>
          {{ 'WAITER.PLACEORDER.SUMMARY.ITEM_TOTAL' | translate:{
            total: (i.unitPrice * i.quantity)
          } }}
        </span>
      </div>
    </div>

    <!-- ACTIONS -->
    <div class="actions">
      <button (click)="decrease.emit(i.menuItemId)">−</button>
      <button class="danger" (click)="remove.emit(i.menuItemId)">×</button>
    </div>

  </div>

  <div class="divider"></div>

  <div class="total">
    <span>{{ 'WAITER.PLACEORDER.SUMMARY.TOTAL' | translate }}</span>
    <b>
      {{ 'WAITER.PLACEORDER.SUMMARY.TOTAL_AMOUNT' | translate:{ total: total } }}
    </b>
  </div>

</div>