<div class="image-upload">

  <label class="form-label">
    {{ 'ADMIN.MENU_ITEMS.IMAGE.LABEL' | translate }}
  </label>

  <input
    #fileInput
    type="file"
    hidden
    accept="image/*"
    (change)="onFileSelected($event)"
  />

  <ng-container *ngIf="displayedImage; else uploadZone">

    <div class="image-preview-wrapper">

      <img
        [src]="displayedImage"
        alt="Preview"
        class="preview-image"
      />

      <button
        type="button"
        class="edit-image-btn"
        (click)="fileInput.click()"
        aria-label="Change image"
      >
        ✏️
      </button>

    </div>

  </ng-container>

  <ng-template #uploadZone>

    <div
      class="upload-zone"
      [class.dragging]="isDragging"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave()"
    >
      <div class="placeholder-content">
        <h6>
          {{ 'ADMIN.MENU_ITEMS.IMAGE.DRAG_DROP' | translate }}
        </h6>
        <p>
          {{ 'ADMIN.MENU_ITEMS.IMAGE.OR_BROWSE' | translate }}
        </p>
      </div>
    </div>

    <button
      type="button"
      class="browse-btn"
      (click)="fileInput.click()"
    >
      {{ 'ADMIN.MENU_ITEMS.IMAGE.BROWSE' | translate }}
    </button>

  </ng-template>

</div>