<div class="search">

  <input
    type="text"
    placeholder="Search by phone..."
    [(ngModel)]="searchTerm"
    (input)="onInput(searchTerm)"
  />

  <!-- LOADING -->
  <div *ngIf="loading" class="loading">
    Searching...
  </div>

  <!-- RESULTS -->
  <div *ngIf="results.length > 0" class="dropdown">

    <div
      class="item"
      *ngFor="let user of results"
      (click)="selectCustomer(user)">

      <span>{{ user.phoneNumber }}</span>
      <small>{{ user.name }}</small>

    </div>

  </div>

  <!-- NO RESULTS -->
  <div *ngIf="!loading && results.length === 0 && searchTerm">
    <button class="add-btn">
      + Add Customer
    </button>
  </div>

</div>