<div class="grid">

  <div class="card" *ngFor="let item of items; trackBy: trackById" (click)="add.emit(item)">

    <img [src]="item.imageUrl" />

    <div class="info">
      <h4>{{ item.name }}</h4>
      <p>{{ item.prepTimeMinutes }} min</p>
      <span>EGP {{ item.price }}</span>
    </div>

  </div>

</div>

<!-- REUSABLE PAGINATION -->
<app-pagination
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [totalCount]="totalCount"
  (pageChanged)="pageChanged.emit($event)">
</app-pagination>