<div class="grid">

  <div class="card" *ngFor="let item of items; trackBy: trackById" (click)="add.emit(item)">

    <img [src]="item.imageUrl" />

    <div class="info">
      <h4>{{ getItemName(item) }}</h4>

      <p>
        {{ 'WAITER.PLACEORDER.MENULIST.PREPTIME' | translate:{ time: item.prepTimeMinutes } }}
      </p>

      <span>
        {{ 'WAITER.PLACEORDER.MENULIST.PRICE' | translate:{ price: item.price } }}
      </span>
    </div>

  </div>

</div>

<!-- REUSABLE PAGINATION -->
<app-pagination
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [totalCount]="totalCount"
  (pageChanged)="pageChanged.emit($event)">
</app-pagination>