<users-header (addUser)="onAddUser()"></users-header>

@if (showModal) {
  <add-user
    (close)="closeModal()"
    (userAdded)="onUserAdded()">
  </add-user>
}

@if (showEditModal && selectedUser) {
  <edit-user
    [user]="selectedUser"
    (close)="closeEditModal()"
    (userUpdated)="onUserUpdated()">
  </edit-user>
}
<users-filters
  (roleChanged)="onRoleChange($event)"
  (statusChanged)="onStatusChange($event)"
  (branchChanged)="onBranchChange($event)">
</users-filters>


<!-- @for (user of users; track user.id) {
  <user-card
    [user]="user"
    (edit)="onEditUser(user)"
    (toggle)="onToggleUser(user.id)">
  </user-card>
} -->


<users-list
  [users]="users"
  (edit)="onEditUser($event)"
  (toggle)="onToggleUser($event)">
</users-list>


<app-pagination
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [totalCount]="totalCount"
  (pageChanged)="onPageChange($event)">
</app-pagination>
