<div class="page">

  <!-- Breadcrumb -->
  <!-- <div class="breadcrumb">Home / <span>Stock Management</span></div> -->

  <!-- Page Header -->
  <div class="page-header">
    <div class="header-left">
      <h1 class="page-title">Stock Management</h1>

    </div>

    <div class="header-right">
      <app-branch-selector
        (branchChanged)="onBranchChange($event)">
      </app-branch-selector>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading-wrap" *ngIf="loading">
    <div class="spinner"></div>
    <span>Loading...</span>
  </div>

  <!-- Table -->
  <div class="table-card" *ngIf="!loading && filteredStocks.length > 0">

    <table>
      <thead>
        <tr>
          <th>INGREDIENT</th>
          <th>AVAILABLE QTY</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of filteredStocks; let i = index">
          <td class="col-ingredient">{{ item.ingredientName }}</td>
          <td class="col-qty">{{ item.quantityAvailable }}</td>
          <td class="col-actions">
            <button class="btn-view" (click)="viewDetails(item.id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Empty -->
  <div *ngIf="!loading && filteredStocks.length === 0" class="empty">
    No data found
  </div>

  <!-- Pagination -->
  <div class="pagination-wrap" *ngIf="!loading && totalCount > 0">
    <div class="pagination-info">
      Showing
      {{ (pageIndex - 1) * pageSize + 1 }}–{{ (pageIndex - 1) * pageSize + filteredStocks.length }}
      of {{ totalCount }} items
    </div>

    <app-pagination
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [totalCount]="totalCount"
      (pageChanged)="onPageChange($event)">
    </app-pagination>
  </div>

</div>

<!-- ═════════════ MODAL ═════════════ -->
<div class="modal-overlay" *ngIf="showModal">

  <div class="modal-content" (click)="$event.stopPropagation()">

    <!-- Header -->
    <div class="modal-header">
      <h3>Stock Details</h3>
      <button class="close-btn" (click)="closeModal()">✖</button>
    </div>

    <!-- Body -->
    <div class="modal-body" *ngIf="selectedStock">

      <div class="modal-row">
        <span>Branch</span>
        <strong>{{ selectedStock.branchName }}</strong>
      </div>

      <div class="modal-row">
        <span>Ingredient</span>
        <strong>{{ selectedStock.ingredientName }}</strong>
      </div>

      <div class="modal-row">
        <span>Available Qty</span>
        <input type="number" [(ngModel)]="editData.quantityAvailable" min="0"/>
      </div>

      <div class="modal-row">
        <span>Low Threshold</span>
        <input type="number" [(ngModel)]="editData.lowThreshold" min="0"/>
      </div>

    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button class="btn-cancel" (click)="closeModal()">Cancel</button>
      <button class="btn-save" (click)="saveChanges()">Save Changes</button>
    </div>

  </div>

</div>
