<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Type</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
        @for (order of orders; track $index) {
      <tr (click)="onView(order.id)" class="clickable">
        <td>{{order.id}}</td>
        <td>{{order.customerName}}</td>
        <td>{{order.orderType}}</td>
        <td>{{order.status}}</td>
        <td>{{order.totalAmount}}</td>
      </tr>
    }
    </tbody>
  </table>