<div class="payment">

  <h4>{{ 'WAITER.PLACEORDER.PAYMENT.TITLE' | translate }}</h4>

  <div class="options">

    <button
      [class.active]="method === 'Cash'"
      (click)="select('Cash')">
      {{ 'WAITER.PLACEORDER.PAYMENT.METHODS.CASH' | translate }}
    </button>

    <button
      [class.active]="method === 'Card'"
      (click)="select('Card')">
      {{ 'WAITER.PLACEORDER.PAYMENT.METHODS.CARD' | translate }}
    </button>

    <button
      [class.active]="method === 'Instapay'"
      (click)="select('Instapay')">
      {{ 'WAITER.PLACEORDER.PAYMENT.METHODS.INSTAPAY' | translate }}
    </button>

    <button
      [class.active]="method === 'Wallet'"
      (click)="select('Wallet')">
      {{ 'WAITER.PLACEORDER.PAYMENT.METHODS.WALLET' | translate }}
    </button>

  </div>

</div>