<div class="user-card" (click)="onViewDetails()">

  <!-- Avatar -->
  <div class="avatar">
    {{ initials }}
  </div>

  <!-- Info -->
  <div class="info">
    <h4>{{ user.name }}</h4>

    <p>
      <span class="email">{{ user.email }}</span>
      @if (user.branchName) {
        <span> • {{ getbranchName(user) }}</span>
      }
    </p>
  </div>

  <!-- Role -->
  <div class="role">
    {{ user.roleId }}
  </div>

  <!-- Actions -->
  <div class="actions" (click)="$event.stopPropagation()">
    <button class="btn-outline" (click)="onEdit()">{{'ADMIN.USERS.EDIT.TITLE' | translate}}</button>

    <div class="status-toggle" (click)="onToggle()">
      <div class="switch" [class.active]="!user.isDeleted" [class.inactive]="user.isDeleted">
        <div class="circle"></div>
      </div>

      <span class="label">
        {{ user.isDeleted ? ('ADMIN.USERS.DETAILS.STATUS.INACTIVE' | translate) : ('ADMIN.USERS.DETAILS.STATUS.ACTIVE' | translate) }}
      </span>
    </div>
  </div>

</div>
