<div class="menu-item-card">

  <!-- IMAGE -->
  <div class="image-wrapper">
    <img [src]="item.imageUrl" [alt]="item.name" />
  </div>

  <!-- CONTENT -->
  <div class="content">

    <!-- TITLE + STATUS -->
    <div class="top">
      <h6>{{ getItemName(item) }}</h6>

      <span
        class="badge"
        [class.available]="item.isAvailable"
        [class.unavailable]="!item.isAvailable"
      >
        {{ item.isAvailable
            ? ('ADMIN.MENU_ITEMS.CARD.AVAILABLE' | translate)
            : ('ADMIN.MENU_ITEMS.CARD.UNAVAILABLE' | translate)
        }}
      </span>
    </div>

    <!-- CATEGORY -->
    <p class="category">{{ getCategoryName(item) }}</p>

    <!-- DETAILS -->
    <div class="details">
      <span>
        {{ item.price }} <strong>{{ 'ADMIN.MENU_ITEMS.CARD.CURRENCY' | translate }}</strong>
      </span>

      <span>
        {{ item.prepTimeMinutes }} <strong>{{ 'ADMIN.MENU_ITEMS.CARD.MIN' | translate }}</strong>
      </span>
    </div>

    <!-- ACTIONS -->
    @if (showAdminActions) {
      <div class="actions">

  <!-- ROW 1 -->
  <div class="actions-row">
    <button class="btn-action view" (click)="onView()">
       {{ 'ADMIN.MENU_ITEMS.CARD.VIEW' | translate }}
    </button>

    <button class="btn-action edit" (click)="onEdit()">
       {{ 'ADMIN.MENU_ITEMS.CARD.EDIT' | translate }}
    </button>
  </div>

  <!-- ROW 2 -->
  <div class="actions-row">
    <button class="btn-action toggle" (click)="onToggleAvailability()">
      
      {{
        item.isAvailable
          ? ('ADMIN.MENU_ITEMS.CARD.DISABLE' | translate)
          : ('ADMIN.MENU_ITEMS.CARD.ENABLE' | translate)
      }}
    </button>

    <button class="btn-action delete" (click)="onDelete()">
       {{ 'ADMIN.MENU_ITEMS.CARD.DELETE' | translate }}
    </button>
  </div>

</div>
    }

  </div>

</div>