<div class="menu-item-card">

  <!-- IMAGE -->
  <div class="image-wrapper">
    <img [src]="item.imageUrl" [alt]="item.name" />
  </div>

  <!-- CONTENT -->
  <div class="content">

    <!-- TITLE + STATUS -->
    <div class="top">
      <h6>{{ getItemName(item) }}</h6>

      <span
        class="badge"
        [class.available]="item.isAvailable"
        [class.unavailable]="!item.isAvailable"
      >
        {{ item.isAvailable 
            ? ('ADMIN.MENU_ITEMS.CARD.AVAILABLE' | translate) 
            : ('ADMIN.MENU_ITEMS.CARD.UNAVAILABLE' | translate) 
        }}
      </span>
    </div>

    <!-- CATEGORY -->
    <p class="category">{{ getCategoryName(item) }}</p>

    <!-- DETAILS -->
    <div class="details">
      <span>
        {{ item.price }} <strong>{{ 'ADMIN.MENU_ITEMS.CARD.CURRENCY' | translate }}</strong>
      </span>

      <span>
        {{ item.prepTimeMinutes }} <strong>{{ 'ADMIN.MENU_ITEMS.CARD.MIN' | translate }}</strong>
      </span>
    </div>

    <!-- ACTIONS -->
    @if (showAdminActions) {
      <div class="actions">

        <!-- VIEW -->
        <button class="btn-icon view" (click)="onView()">
          <i class="bi bi-eye"></i>
        </button>

        <!-- EDIT -->
        <button class="btn-icon edit" (click)="onEdit()">
          <i class="bi bi-pencil"></i>
        </button>

        <!-- SWITCH -->
        <div class="switch-container" (click)="onToggleAvailability()">
          <div class="switch" [class.active]="item.isAvailable">
            <div class="circle"></div>
          </div>
        </div>

        <!-- DELETE -->
        <button class="btn-icon delete" (click)="onDelete()">
          <i class="bi bi-trash-fill"></i>
        </button>

      </div>
    }

  </div>

</div>