<div class="stats-bar">

  <div class="stat-card">
    <h6> 
      {{ 'ADMIN.ORDERS.STATS.TOTAL' | translate }}
    </h6>
    <div class="val">{{ total }}</div>
  </div>

  <div class="stat-card">
    <h6>
      {{ 'ADMIN.ORDERS.STATS.DELIVERED' | translate }}
    </h6>
    <div class="val">{{ delivered }}</div>
  </div>

  <div class="stat-card">
    <h6>
      {{ 'ADMIN.ORDERS.STATS.PREPARING' | translate }}
    </h6>
    <div class="val">{{ preparing }}</div>
  </div>

  <div class="stat-card">
    <h6>
      {{ 'ADMIN.ORDERS.STATS.CANCELLED' | translate }}
    </h6>
    <div class="val">{{ cancelled }}</div>
  </div>

</div>
