<div class="ingredients-container">

  <!-- Header -->
  <div class="header">
    <div class="page-header">

      <h2 class=".page-title">
        {{ 'ADMIN.INGREDIENTS.TITLE' | translate }}
      </h2>

    </div>

    <div class="actions-header">
      <button type="button" class="btn add" (click)="openModal()">
        {{ 'ADMIN.INGREDIENTS.BUTTONS.ADD' | translate }}
      </button>

      <div class="count" *ngIf="!loading">
        {{ totalCount }} {{ 'ADMIN.INGREDIENTS.ITEMS' | translate }}
      </div>
    </div>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    <p>{{ 'ADMIN.INGREDIENTS.LOADING' | translate }}</p>
  </div>

  <!-- Empty -->
  <div *ngIf="!loading && ingredients.length == 0" class="empty">
    <p>{{ 'ADMIN.INGREDIENTS.EMPTY' | translate }}</p>
  </div>

  <!-- Table -->
  <div class="table-wrapper" *ngIf="!loading && ingredients.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'ADMIN.INGREDIENTS.TABLE.NAME' | translate }}</th>
          <th>{{ 'ADMIN.INGREDIENTS.TABLE.UNIT' | translate }}</th>
          <th class="actions">{{ 'ADMIN.INGREDIENTS.TABLE.ACTIONS' | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of ingredients; let i = index">
          <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>

          <td class="name">
            <!-- <span class="avatar">{{ item.name[0] }}</span> -->
            {{ getItemName(item) }}
          </td>

          <td>
            <span class="badge">{{ item.unit }}</span>
          </td>

          <td class="actions">
            <button class="btn delete" (click)="delete(item.id)">
              {{ 'ADMIN.INGREDIENTS.BUTTONS.DELETE' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <app-pagination
    *ngIf="!loading && totalCount > pageSize"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    (pageChanged)="onPageChange($event)">
  </app-pagination>

</div>

<!-- Modal OUTSIDE container -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-ingredient">

    <h3>{{ 'ADMIN.INGREDIENTS.MODAL.TITLE' | translate }}</h3>

    <form (ngSubmit)="addIngredient()">

      <div class="form-group">
        <label>{{ 'ADMIN.INGREDIENTS.MODAL.FIELDS.NAME' | translate }}</label>
        <input
          type="text"
          [(ngModel)]="newIngredient.name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label>{{ 'ADMIN.INGREDIENTS.MODAL.FIELDS.ARABIC_NAME' | translate }}</label>
        <input
          type="text"
          [(ngModel)]="newIngredient.arabicName"
          name="arabicName"
          required
        />
      </div>

      <div class="form-group">
        <label>{{ 'ADMIN.INGREDIENTS.MODAL.FIELDS.UNIT' | translate }}</label>
        <input
          type="text"
          [(ngModel)]="newIngredient.unit"
          name="unit"
          required
        />
      </div>

      <div class="modal-actions">
        <button type="button" class="btn cancel" (click)="closeModal()">
          {{ 'ADMIN.INGREDIENTS.BUTTONS.CANCEL' | translate }}
        </button>

        <button type="submit" class="btn save">
          {{ 'ADMIN.INGREDIENTS.BUTTONS.SAVE' | translate }}
        </button>
      </div>

    </form>

  </div>
</div>